<%= simple_form_for(@poll) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title, label: 'Title' %> 
    <%= f.input :body, label: 'Body' %>

    <%= f.input :poll_type, as: :select, collection: 
                [['RadioButtons', 1], ['Multiply CheckBoxes', 2]], selected: 'RadioButtons'  %>
    <!--%= f.hidden_field :user_id, :value => @user.id %-->
    
    <%= f.simple_fields_for :options, @poll.options.build do |o| %>

      <%= o.label 'Options' %>
      <%= o.input :poll_option %>
    <% end %>
    <%= f.input :start, start_year: Time.now.year, order: [:day, :month, :year, :hour, :minute]  %>
    <%= f.input :finish, start_year: Time.now.year, order: [:day, :month, :year, :hour, :minute]  %>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-success" %>
  </div>
<% end %>
<br>

<!--
    <div id="dynamicInput">
      Option 1<br><input class="string optional form-control" type="text" name="vote[variants][]" id="vote_variants">
    </div>
    <br>
      <input type="button" class="btn btn-primary" value="Add another option (max 20)" onClick="addInput('dynamicInput');">
    <p></p>
-->